:root {
  --background: #ffffff;
  --foreground: #171717;
  --hover: rgba(255, 255, 255, 0.10);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --hover: rgba(0, 0, 0, 0.10);
  }
}

@font-face {
  font-family: "Chillax Variable";
  font-style: normal;
  font-weight: 500;
  src: url("../../public/fonts/Chillax-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Chillax Variable";
  font-style: normal;
  font-weight: 600;
  src: url("../../public/fonts/Chillax-Semibold.otf") format("opentype");
}

@font-face {
  font-family: "Chillax Variable";
  font-style: normal;
  font-weight: 650;
  src: url("../../public/fonts/Chillax-ExtraLight.otf") format("opentype");
}

@font-face {
  font-family: "Chillax Variable";
  font-style: normal;
  src: url("../../public/fonts/Chillax-Light.otf") format("woff2");
}

@font-face {
  font-family: "Chillax Variable";
  font-style: normal;
  src: url("../../public/fonts/Chillax-Medium.otf") format("woff2");
}

@font-face {
  font-family: "Chillax Variable";
  font-style: normal;
  src: url("../../public/fonts/Chillax-Semibold.otf") format("woff2");
}

html,
body {
  max-width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
}

body {
  color: var(--background);
  background: var(--foreground);
  color: #000;
  font-family: "Chillax Variable";
  font-size: 2.0625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.searchBar {
  width: 55.875rem;
  height: 4.375rem;
  flex-shrink: 0;
  margin-top: 1rem;
  color: black;

  border: none;
  border-radius: 2.1875rem;
  background: rgba(217, 217, 217, 0.15);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.searchBar::placeholder {
  flex-shrink: 0;
  /*padding-left: 1.94rem;*/

  color: #000;
  font-family: "Chillax Variable";
  font-size: 2.0625rem;
  font-style: normal;
  font-weight: 500;
  line-height: 0.5;

  opacity: 0.57;
}

.searchBar:focus {
  outline: none;
}

input[type=text] {
  padding-left: 1.94rem;
  font-family: "Chillax Variable";
  font-size: 2.0625rem;
  font-style: normal;
  font-weight: 500;
  line-height: 0.5;
}

.home-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.home-page .title {
  margin-top: 2rem;
}


.block {
  width: 55.875rem;
  height: 9.375rem;
  flex-shrink: 0;

  margin-top: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 0.9375rem;
  background: rgba(217, 217, 217, 0.16);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.block-link {
  cursor: pointer;
}

.pic {
  display: flex;
}

.pic img {
  width: 8.33044rem;
  height: 5.125rem;
  flex-shrink: 0;
}

.picinfos {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}

.suggestions-container {
  background-color: var(--foreground);
  border-radius: 25px;
  margin-top: 25px;
  position: absolute;
  width: 55.875rem;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.suggestion-item {
  width: 100%;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 5px;
}

.suggestion-item:hover {
  background-color: var(--hover);
}

.suggestion-item-text {
  cursor: pointer;
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.infos h2 {
  color: #000;
  font-family: "Chillax Variable";
  font-size: 2.0625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.infos h3 {
  color: #000;
  font-family: "Chillax Variable";
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.time {
  display: flex;
  flex-direction: row;
}

.time p {
  display: flex;
  width: 6.5rem;
  height: 5.125rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  padding-right: -0.3rem;

  color: #000;
  text-align: center;
  font-family: "Chillax Variable";
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.time img {
  width: 2.0625rem;
  height: 2.0625rem;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}

.stop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stop .infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.stop .infos .name h2 {
  display: flex;
  width: auto;
  height: 6.1875rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  color: #000;
  text-align: center;
  font-family: "Chillax Variable";
  font-size: 3.625rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.stop .infos .lines {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.63rem;
}

.block-plus { /*Modif ici*/
  position: relative;
  width: 55.875rem;
  height: 9.375rem;
  flex-shrink: 0;
  margin-top: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.9375rem;
  background: rgba(217, 217, 217, 0.16);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.picinfos-plus {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  gap: 1rem;
}

.picinfos-plus img {
  width: 8.33044rem;
  height: 5.125rem;
  flex-shrink: 0;
}

.times {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 2rem;
}

.times-child {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.times p {
  color: #000;
  text-align: center;
  font-family: "Chillax Variable";
  font-size: 1.4375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.times img {
  width: 1.4375rem;
  height: 1.4375rem;
  flex-shrink: 0;
  aspect-ratio: 1/1;

  margin-bottom: 1rem;
}

.button-back {
  width: 27.125rem;
  height: 4.375rem;
  flex-shrink: 0;
  cursor: pointer;
  margin-top: 2rem;

  border: none;
  border-radius: 2.1875rem;
  background: #3756B8;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


  color: #FFF;
  text-align: center;
  font-family: "Chillax Variable";
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.alerte {  /*Modif ici*/
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 54px;
  height: 50px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #F9F9F9;
  text-align: center;
  font-family: "Chillax Variable";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 0px 15px;
  border-radius: 0px 15px;
  background: #FFD000;
}